<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
<customErrors mode="Off"/>
  </system.web>
  <connectionStrings>
    <remove name="remoteSqlServer"/>
    <!--
    <add name="remoteSqlServer" connectionString="Data Source=server;Initial Catalog=learnkey_arjang;User Id=learnkey_arjang_user;password=123" providerName="System.Data.SqlClient"/>
   -->
    <add name="remoteSqlServer" connectionString="Data Source=185.55.225.11;Initial Catalog=asanhost_learnkey;User Id=sabertabatabaei;password=bGd$4p20" providerName="System.Data.SqlClient"/>
    <!--
    <add name="remoteSqlServer" connectionString="Data Source=server;Initial Catalog=learnkey_arjang;User Id=learnkey_arjang_user;password=123" providerName="System.Data.SqlClient"/>
    -->
    <!--<remove name="LocalSqlServer"/>
      <add name="LocalSqlServer" connectionString="Data Source=nlpserver;Initial Catalog=saber_msbdata;User Id=winrackset_5MSBDATAusr;password=asdfasdf;" providerName="System.Data.SqlClient"/>-->
  </connectionStrings>

</configuration>